 <md-card [class.center]="center" [style.width]="width"  *ngIf="pet">
    <md-card-title *ngIf="pet.name">{{pet.name}}</md-card-title>
    <md-card-subtitle *ngIf="pet.name">{{pet.animalType}}</md-card-subtitle>
    <img md-card-image style="height: 300px;" alt="Main image" [src]="pet.image">
 <!--src="https://material.angularjs.org/latest/img/washedout.png"-->
    <md-card-content>
      <p *ngIf="pet.birthday">Age: {{getAge(pet.birthday)}} Years</p>
      <p *ngIf="pet.breeds">{{pet.breeds.join(', ')}}, Super dog, evil dog, babushka</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>Adopt</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>