# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/PetStoreApp/dist
/PetStoreApp/tmp

# dependencies
/PetStoreApp/node_modules
/PetStoreApp/bower_components

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch
.settings/

# misc
/PetStoreApp/.sass-cache
/PetStoreApp/connect.lock
/PetStoreApp/coverage/*
/PetStoreApp/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/PetStoreApp/e2e/*.js
/PetStoreApp/e2e/*.map

#System Files
.DS_Store
Thumbs.db
