<md-card>
    <h1 style="text-align: center">Add Animal</h1>
    <md-input-container>
        <input md-input placeholder="Animal Name" />
    </md-input-container>
    <button md-raised-button color="primary">Save Animal</button>
</md-card>

<md-card>
    <h1 style="text-align: center">Add Breed</h1>
    <md-select>
        <md-option>Yo yo</md-option>
    </md-select>
    <md-input-container>
        <input md-input placeholder="Breed Name" />
    </md-input-container>
    <button md-raised-button color="primary">Save Animal</button>
</md-card>