<md-card style.backgroundColor="red">
  <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
    <md-option *ngFor="let food of animals" [value]="food.value">
      {{food.name}}
    </md-option>
  </md-select>
</md-card>
<md-card>
  <div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <app-pet-card *ngFor="let animal of animals" 
     
      class="flex-item" 
      fxFlex="15%" fxFlex.sm="40%" fxFlex.md="25%" fxFlex.lg="20%"
      [pet]="animal"></app-pet-card>
  </div>
</md-card>