<md-card style="text-align: center;">
  <app-pet-card center="true" width="300px" [pet]="pet"></app-pet-card>
</md-card>

<md-card>
  <form (ngSubmit)="log()">
    <md-input-container dividerColor="primary">
      <input md-input [(ngModel)]="pet.name" name="petName" type="text" align="center" placeholder="Pet Name" required>
        <span md-prefix>
          <i class="material-icons">create</i>
          &nbsp;
      </span>
    </md-input-container>
    <md-input-container dividerColor="primary">
      <input md-input type="date" [(ngModel)]="pet.birthday" name="petBirthday" align="center" placeholder="Birthday" required>
      <span md-prefix>
        <i class="material-icons">cake</i>
        &nbsp;
      </span>
    </md-input-container>

    <md-select placeholder="Animal" (onClose)="onAnimalChanged()" [(ngModel)]="selectedAnimalId" name="animalId" required="true">
      <md-option *ngFor="let animal of animalOptions" [value]="animal.id">{{animal.name}}</md-option>
    </md-select>

    <md-select placeholder="Breed">
      <md-option *ngFor="let breed of Breeds" [value]="breed.id">{{breed.name}}</md-option>
    </md-select>

    <input type="file" [(ngModel)]="image" name="image" accept="image/*" (change)="outputFileName($event)" align="center" placeholder="Image">
     <button md-raised-button type="submit">Submit Pet</button>
  </form>
  <button md-raised-button (click)="uploadFile()">Upload Image</button>
</md-card>
  <!--<input mdInput dividerColor="warn" placeholder="Name" [(ngModel)]="name">-->

  <!--<input mdInput placeholder="Default color" value="example">
</md-input-container>
<md-input-container dividerColor="accent">
  <input mdInput placeholder="Accent color" value="example">
</md-input-container>
<md-input-container dividerColor="warn">
  <input mdInput placeholder="Warn color" value="example">
</md-input-container>
</md-input-container>  -->
