<md-toolbar color="accent">
      <nav md-tab-nav-bar>
        <a md-tab-link routerLink="/browse-pets" routerLinkActive #rla="routerLinkActive" [active]="rlaSafe && rla.isActive">Browse Pets</a>
        <a md-tab-link routerLink="/sell-pet"  routerLinkActive #rlab="routerLinkActive" [active]="rlaSafe && rlab.isActive">Sell Pet</a>
        <a md-tab-link routerLink="/admin"  routerLinkActive #rlac="routerLinkActive" [active]="rlaSafe && rlac.isActive">Admin</a>
        <a md-tab-link routerLink="/food"  routerLinkActive #rlad="routerLinkActive" [active]="rlaSafe && rlad.isActive">Food</a>

      </nav>
 </md-toolbar>
<div class="app-content">
  <router-outlet></router-outlet>
</div>

